@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #222;
  color: #fff;
}

.glitch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50);
  font-size: 100px;
  letter-spacing: 8px;
  cursor: pointer;
}

.glitch::before,
.glitch::after {
  content: 'GLITCH';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
